/* CSS Tela Welcome */

*{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}


label{
    font-size: 14px;
}


/* Início NavBar */
#row-navbar{
    width: 100%;
}

 #logo-welcome{
    width: 200px;
 }

 #item-cadastro{
    background: #fff;
    border: 1px solid #000;
 }

 #item-cadastro-b:hover{
    color: #386fb5;
 }


.nav-link #item-login{
    color: black !important;
}

.nav-link #item-cadastro-b{
    color: black !important;
}

li{
    margin: 0 10px;
}

#itens-navbar{
    justify-content: right;
}

#item-login:hover{
    color: #fff !important;
}

@media (max-width: 992px){
    
    #item-cadastro{
        background: none;
        border: none;
     }

     li{
      margin: 0;
  }


    
}

/* Fim NavBar */


/* Início Carrossel Cursos*/

.text-slide-welcome{
    margin-top: 40px;
    text-align: center;
}
.swiper-wrapper{
    margin-top: 30px;
}

/* Fim Carrossel */



/* Footer Welcome */
footer{
    margin: 40px 0 0 0;
    background-color: #007bff;
    color: #fff;

}

.footer-row{
height: 200px;
}

#footer-logo{
    margin: auto;
    text-align: right;
}
#footer-logo img{
    width: 70%;
    
}

#footer-center-list{
    margin: auto;
    text-align: right;
}



ul a li{
    color: #000 !important;
    list-style: none;
    font-size: 20px;
    text-align: center;
}


#social-icons-line{
   margin: auto;
}



#social-icons-line a img{
   margin: 0 10px;
    width: 30px;
}
/* Fim Footer Welcome */


/* CSS Tela Home */


#card-info-courses p{
    margin: 0;
}

.card-img{
    background-repeat: no-repeat;
    background-size: auto;
    height: 150px;
}

.card-img img{
    border-radius: 2px;
    width: 100%;
    height: 150px;
}




/* Início create course estilização */
